:root {
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #878e96;
  --gray-400: #495057;
  --gray-500: #343a40;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--light-blue-100);
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

header {
  width: 90%;
  height: 96px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

main {
  margin: 10px auto 0;
  max-width: 90%;
}

textarea {
  all: initial;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: var(--dark-blue-300);
  font-family: "Inter", sans-serif;
  white-space: normal;
  word-wrap: break-word;
}

textarea::placeholder {
  color: var(--dark-blue-300);
  font-family: "Inter", sans-serif;
}

.img-warning {
  margin-right: 5px;
}

.advertencia-minus {
  color: var(--gray-400);
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-bottom: 16px;
}

.btn-encriptar {
  width: 100%;
  background-color: var(--dark-blue-300);
  text-align: center;
  color: #fff;
  font-family: "Inter";
  padding: 20px 0px;
  border-radius: 14px;
  margin-bottom: 24px;
}

.btn-desencriptar {
  width: 100%;
  background-color: var(--light-blue-100);
  text-align: center;
  color: var(--dark-blue-300);
  font-family: "Inter";
  padding: 20px 0px;
  border-radius: 14px;
  outline: 1px solid var(--dark-blue-300);
  margin-bottom: 48px;
}

button {
  all: initial;
  cursor: pointer;
}

.card-aviso {
  border-radius: 28px;
  padding: 32px;
  margin-bottom: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.card-aviso__container {
  text-align: center;
}

.card-aviso__container h1 {
  color: var(--gray-500);
  font-weight: bold;
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

.card-aviso__container p {
  font-size: 16px;
  color: var(--gray-400);
}

.card-resultado {
  border-radius: 28px;
  padding: 32px;
  margin-bottom: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-size: 24px;
  color: var(--gray-400);
  line-height: 150%;

  word-wrap: break-word;
  overflow: hidden;
}

.card-resultado__container p {
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 32px;
}

.card-resultado__container button {
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: var(--dark-blue-300);
  font-family: "Inter";
  padding: 20px 0px;
  border-radius: 14px;
  outline: 1px solid var(--dark-blue-300);
}

footer {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  textarea {
    height: 440px;
  }

  .buttons {
    display: flex;
    gap: 24px;
    margin-bottom: 36px;
  }

  .btn-desencriptar {
    padding: 24px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 50px 2fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    place-content: center;
  }

  header {
    align-self: start;
    justify-self: center;
    margin-left: 40px;
  }

  main {
    margin-top: 30px;
    height: 85%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    align-self: center;
  }

  textarea {
    height: 100%;
  }

  footer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  section {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
  }

  .card-resultado__container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .btn-encriptar:hover {
    background-color: var(--dark-blue-200);
    transform: translateY(-3px);
    transition: 0.3s;
  }

  .btn-desencriptar:hover {
    background-color: var(--light-blue-300);
    transform: translateY(-3px);
    transition: 0.3s;
  }

  .image-container {
    background-image: url(assets/notfounded.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 320px;
  }
}

#have-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animation {
  filter: contrast(1%);
  width: 150px;
  position: absolute;
  opacity: 0;
  animation: lock 4s ease;
}
@keyframes lock {
  0% {
    top: 100px;
  }
  50% {
    top: 230px;
    opacity: 1;
  }
  100% {
    top: 200px;
    opacity: 0;
  }
}

#toastAlert {
  position: fixed;
  bottom: 0;
  left: 0;
}

.toastAlert {
  font-weight: bolder;
  color: #cecece;
  padding: 15px 25px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0 0 25px 0 #555555;
  transition: box-shadow 1s ease;
  transition-delay: 1s;
}

.activeAnimation {
  animation: toast 4s ease !important;
}

@keyframes toast {
  0% {
    bottom: 50px;
    opacity: 0;
  }

  50% {
    bottom: 0;
    opacity: 1;
    left: 0;
  }
  100% {
    left: -200px;
  }
}
